.details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    //width: 75%;
}
.back{
    letter-spacing: 2px;
    font-weight: bold;
    color: rgb(5, 2, 54);
    border: 1px solid;
    background-color: rgb(194, 247, 115);
    opacity: 0.9;
    border-radius: 10px;
    padding: 5px;
    align-self: flex-end;
    margin: 10px 10px 0px 0px;
   
    @include media ($tablet){
        margin: 40px 0 0 0;
    }
    
}
.character-details{
    margin: 25px 0 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px greenyellow;
    background-color: rgb(24, 99, 99);

    img{
        width: 100%;
        @include media ($tablet){
            width: 220px;
            padding: 30px 0;
        }
    }

    @include media ($tablet){
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 500px;
    }
    &__description{
        line-height: 1.6;
        font-family: 'Quantico', sans-serif;
        color: white;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__name{
            font-size: 22px;
        }
    }
}