@import 'core/functions';
@import 'core/mixins';
@import 'core/variables';
@import 'vendors/normalize';
@import 'components/search';
@import 'components/characters-list';


#root{
    max-height: 100%;
    min-height: 100vh;
    background-image: url('../images/background.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 10px 10px;
}
.bold{
    font-weight: bold;
}